<nav id="navbar" class="navbar navbar-default navbar-expand-sm"
  role="navigation">

  <i class="navbar-brand"><a><img src="favicon.ico">{{title}}</a></i>

  <button class="navbar-toggler" type="button" data-toggle="collapse"
    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <a class="btn btn-default"><i class="fa fa-bars fa-2x"></i></a>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav nav-pills">
      <li class="nav-item" class *ngFor="let navitem of navitems">
        <a class="nav-link" href="{{navitem.href}}"><i class="{{navitem.icon}}" aria-hidden="true"></i>{{navitem.name}}</a>
      </li>
    </ul>
  </div>
</nav>
