<!-- 系统组件模版 -->
<div>
  <app-nav></app-nav>
  <div class="btn-toolbar" role="toolbar">
    <div class="btn-group">
      <button type="button" class="btn btn-success"><i class="fa fa-address-book" aria-hidden="true">通讯录</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-address-book-o" aria-hidden="true">通讯录</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-address-card" aria-hidden="true">账户信息</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-address-card-o" aria-hidden="true">账户信息</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-share" aria-hidden="true">分享</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-star" aria-hidden="true">已收藏</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-star-o" aria-hidden="true">未收藏</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-tag" aria-hidden="true">标记</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-tags" aria-hidden="true">标签</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-reply" aria-hidden="true">回复</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-reply-all" aria-hidden="true">全部回复</i></button>
      <br>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success"><i class="fa fa-search" aria-hidden="true">搜索</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-sticky-note" aria-hidden="true">备忘</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-sticky-note-o" aria-hidden="true">备忘</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-toggle-on" aria-hidden="true">开启</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-toggle-off" aria-hidden="true">关闭</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-upload" aria-hidden="true">上传</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-download" aria-hidden="true">下载</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-info" aria-hidden="true">信息</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-history" aria-hidden="true">历史</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-male" aria-hidden="true">男</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-female" aria-hidden="true">女</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-lock" aria-hidden="true">锁定</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-unlock-alt" aria-hidden="true">解锁</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-unlock" aria-hidden="true">已解锁</i></button>
      <br>
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-success"><i class="fa fa-plus" aria-hidden="true">添加</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-minus" aria-hidden="true">删除</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-remove" aria-hidden="true">全部删除</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-trash" aria-hidden="true">回收站</i></button>
      <br>
      <button type="button" class="btn btn-success"><i class="fa fa-trash-o" aria-hidden="true">回收站</i></button>
      <br>
    </div>
  </div>
</div>
<app-login></app-login>
<app-register></app-register>